body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:39px;
  top:53px;
  width:93px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:24px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:39px;
  top:16px;
  width:97px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:39px;
  top:109px;
  width:10px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:59px;
  top:110px;
  width:49px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:58px;
  top:159px;
  width:512px;
  height:60px;
  line-height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:60px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:39px;
  top:264px;
  width:10px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:59px;
  top:265px;
  width:97px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:58px;
  top:319px;
  width:592px;
  height:6px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:6px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:863px;
  top:338px;
  width:244px;
  height:24px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:24px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:863px;
  top:362px;
  width:244px;
  height:171px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:171px;
}
#u21 {
  position:absolute;
  left:2px;
  top:78px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1107px;
  top:362px;
  width:27px;
  height:171px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:171px;
}
#u23 {
  position:absolute;
  left:2px;
  top:78px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:388px;
  top:345px;
  width:352px;
  height:24px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:924px;
  top:120px;
  width:237px;
  height:202px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:202px;
}
#u27 {
  position:absolute;
  left:2px;
  top:93px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:602px;
  top:335px;
  width:228px;
  height:198px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:198px;
}
#u29 {
  position:absolute;
  left:2px;
  top:91px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:604px;
  top:550px;
  width:226px;
  height:196px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:196px;
}
#u31 {
  position:absolute;
  left:2px;
  top:90px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:863px;
  top:551px;
  width:227px;
  height:195px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:195px;
}
#u33 {
  position:absolute;
  left:2px;
  top:90px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1130px;
  top:550px;
  width:278px;
  height:196px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:196px;
}
#u35 {
  position:absolute;
  left:2px;
  top:90px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:604px;
  top:837px;
  width:283px;
  height:242px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:242px;
}
#u37 {
  position:absolute;
  left:2px;
  top:113px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:610px;
  top:813px;
  width:162px;
  height:24px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:897px;
  top:834px;
  width:323px;
  height:328px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:328px;
}
#u41 {
  position:absolute;
  left:2px;
  top:156px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1246px;
  top:838px;
  width:321px;
  height:324px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:324px;
}
#u43 {
  position:absolute;
  left:2px;
  top:154px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:897px;
  top:1172px;
  width:329px;
  height:155px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:155px;
}
#u45 {
  position:absolute;
  left:2px;
  top:70px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1246px;
  top:1177px;
  width:321px;
  height:295px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:295px;
}
#u47 {
  position:absolute;
  left:2px;
  top:140px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:897px;
  top:810px;
  width:162px;
  height:24px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:24px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:58px;
  top:350px;
  width:312px;
  height:55px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:55px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:122px;
  top:450px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:179px;
  top:450px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:602px;
  top:122px;
  width:312px;
  height:197px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:197px;
}
#u57 {
  position:absolute;
  left:2px;
  top:90px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:266px;
  top:450px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:58px;
  top:450px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:58px;
  top:533px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:122px;
  top:533px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:189px;
  top:533px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:228px;
  top:533px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:281px;
  top:533px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:58px;
  top:728px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:122px;
  top:728px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:252px;
  top:728px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:181px;
  top:728px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:122px;
  top:476px;
  width:304px;
  height:21px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:21px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:313px;
  top:450px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:122px;
  top:553px;
  width:263px;
  height:24px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:24px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:122px;
  top:748px;
  width:139px;
  height:25px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:58px;
  top:804px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:122px;
  top:804px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:181px;
  top:804px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:117px;
  top:822px;
  width:87px;
  height:21px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:58px;
  top:882px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:122px;
  top:882px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:181px;
  top:882px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:120px;
  top:900px;
  width:91px;
  height:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u103 {
  position:absolute;
  left:2px;
  top:1px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:120px;
  top:962px;
  width:86px;
  height:24px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:24px;
}
#u105 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:58px;
  top:942px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:122px;
  top:942px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:181px;
  top:942px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:1747px;
  top:240px;
  width:353px;
  height:270px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:270px;
}
#u113 {
  position:absolute;
  left:2px;
  top:127px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1747px;
  top:178px;
  width:232px;
  height:52px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:52px;
}
#u115 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:58px;
  top:1030px;
  width:352px;
  height:24px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:24px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:120px;
  top:616px;
  width:213px;
  height:30px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:122px;
  top:600px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:189px;
  top:600px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:228px;
  top:600px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:281px;
  top:600px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:1493px;
  top:550px;
  width:227px;
  height:196px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:196px;
}
#u129 {
  position:absolute;
  left:2px;
  top:90px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1151px;
  top:333px;
  width:257px;
  height:200px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:200px;
}
#u131 {
  position:absolute;
  left:2px;
  top:92px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1730px;
  top:553px;
  width:617px;
  height:258px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:258px;
}
#u133 {
  position:absolute;
  left:2px;
  top:121px;
  width:613px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:120px;
  top:688px;
  width:247px;
  height:22px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:22px;
}
#u135 {
  position:absolute;
  left:2px;
  top:3px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:58px;
  top:666px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:120px;
  top:664px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:184px;
  top:664px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:255px;
  top:664px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:294px;
  top:664px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:347px;
  top:664px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:610px;
  top:1100px;
  width:245px;
  height:275px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:275px;
}
#u149 {
  position:absolute;
  left:2px;
  top:130px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:614px;
  top:1391px;
  width:246px;
  height:109px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:109px;
}
#u151 {
  position:absolute;
  left:2px;
  top:46px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:326px;
  top:74px;
  width:100px;
  height:16px;
}
#u153 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u152_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u154 {
  position:absolute;
  left:326px;
  top:100px;
  width:100px;
  height:16px;
}
#u155 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u154_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
