body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:211px;
  top:51px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:211px;
  top:52px;
  width:320px;
  height:47px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:214px;
  top:59px;
  width:32px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:214px;
  top:59px;
  width:32px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:211px;
  top:526px;
  width:320px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u10 {
  position:absolute;
  left:307px;
  top:63px;
  width:128px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:221px;
  top:111px;
  width:300px;
  height:99px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:232px;
  top:156px;
  width:199px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:232px;
  top:187px;
  width:199px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:511px;
  top:184px;
  width:106px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:89px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:106px;
  height:1px;
}
#u19 {
  position:absolute;
  left:623px;
  top:181px;
  width:297px;
  height:16px;
  color:#3399FF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:221px;
  top:220px;
  width:300px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:221px;
  top:258px;
  width:300px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:236px;
  top:230px;
  width:150px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:236px;
  top:273px;
  width:199px;
  height:16px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:491px;
  top:263px;
  width:30px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:221px;
  top:298px;
  width:300px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:236px;
  top:313px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:491px;
  top:303px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:538px;
  top:279px;
  width:297px;
  height:16px;
  color:#3399FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:511px;
  top:269px;
  width:355px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:338px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:355px;
  height:1px;
}
#u40 {
  position:absolute;
  left:221px;
  top:390px;
  width:300px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:236px;
  top:405px;
  width:199px;
  height:16px;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:491px;
  top:395px;
  width:30px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:221px;
  top:430px;
  width:300px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:236px;
  top:445px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:491px;
  top:435px;
  width:30px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:490px;
  top:222px;
  width:30px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:511px;
  top:233px;
  width:46px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u55 {
  position:absolute;
  left:563px;
  top:230px;
  width:297px;
  height:16px;
  color:#3399FF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:221px;
  top:350px;
  width:300px;
  height:40px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:236px;
  top:360px;
  width:150px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:490px;
  top:355px;
  width:30px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:221px;
  top:524px;
  width:300px;
  height:40px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:236px;
  top:539px;
  width:199px;
  height:16px;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:491px;
  top:529px;
  width:30px;
  height:30px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:221px;
  top:564px;
  width:300px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:236px;
  top:579px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:491px;
  top:569px;
  width:30px;
  height:30px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:221px;
  top:484px;
  width:300px;
  height:40px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:236px;
  top:494px;
  width:150px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:14px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:490px;
  top:489px;
  width:30px;
  height:30px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:489px;
  top:484px;
  width:30px;
  height:30px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:489px;
  top:484px;
  width:30px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:489px;
  top:484px;
  width:30px;
  height:30px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:181px;
  top:532px;
  width:366px;
  height:89px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:89px;
}
#u88 {
  position:absolute;
  left:2px;
  top:36px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:211px;
  top:526px;
  width:320px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u90 {
  position:absolute;
  left:221px;
  top:224px;
  width:297px;
  height:30px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:221px;
  top:264px;
  width:297px;
  height:30px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:873px;
  top:51px;
  width:320px;
  height:480px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u96 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:873px;
  top:52px;
  width:320px;
  height:47px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
}
#u98 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:876px;
  top:59px;
  width:32px;
  height:32px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:876px;
  top:59px;
  width:32px;
  height:32px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1151px;
  top:484px;
  width:30px;
  height:30px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1151px;
  top:484px;
  width:30px;
  height:30px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1151px;
  top:484px;
  width:30px;
  height:30px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:895px;
  top:111px;
  width:249px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:883px;
  top:113px;
  width:5px;
  height:15px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u112 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:895px;
  top:147px;
  width:280px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:895px;
  top:150px;
  width:286px;
  height:16px;
  line-height:28px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:895px;
  top:140px;
  width:286px;
  height:120px;
  font-size:14px;
  color:#999999;
  line-height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:896px;
  top:362px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:883px;
  top:363px;
  width:5px;
  height:15px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u122 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:873px;
  top:386px;
  width:319px;
  height:40px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:888px;
  top:401px;
  width:235px;
  height:16px;
  font-size:14px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1163px;
  top:391px;
  width:30px;
  height:30px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:872px;
  top:426px;
  width:319px;
  height:40px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:887px;
  top:441px;
  width:198px;
  height:16px;
  font-size:14px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1162px;
  top:431px;
  width:30px;
  height:30px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:974px;
  top:63px;
  width:128px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:900px;
  top:277px;
  width:164px;
  height:63px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:63px;
}
#u138 {
  position:absolute;
  left:2px;
  top:24px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:1058px;
  top:277px;
  width:170px;
  height:63px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:63px;
}
#u140 {
  position:absolute;
  left:2px;
  top:24px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1221px;
  top:277px;
  width:202px;
  height:63px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:63px;
}
#u142 {
  position:absolute;
  left:2px;
  top:24px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1415px;
  top:277px;
  width:161px;
  height:63px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:63px;
}
#u144 {
  position:absolute;
  left:2px;
  top:24px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1221px;
  top:367px;
  width:164px;
  height:63px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:63px;
}
#u146 {
  position:absolute;
  left:2px;
  top:24px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1379px;
  top:367px;
  width:170px;
  height:63px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:63px;
}
#u148 {
  position:absolute;
  left:2px;
  top:24px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:1542px;
  top:367px;
  width:202px;
  height:63px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:63px;
}
#u150 {
  position:absolute;
  left:2px;
  top:24px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:1736px;
  top:367px;
  width:161px;
  height:63px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:63px;
}
#u152 {
  position:absolute;
  left:2px;
  top:24px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1221px;
  top:351px;
  width:297px;
  height:16px;
  color:#3399FF;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:1193px;
  top:229px;
  width:407px;
  height:107px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:107px;
}
#u156 {
  position:absolute;
  left:2px;
  top:46px;
  width:403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:1217px;
  top:330px;
  width:148px;
  height:10px;
}
#u157_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u157_end {
  position:absolute;
  left:131px;
  top:-5px;
  width:18px;
  height:20px;
}
#u157_line {
  position:absolute;
  left:0px;
  top:5px;
  width:148px;
  height:1px;
}
