body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:448px;
  top:28px;
  width:394px;
  height:656px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:656px;
}
#u1 {
  position:absolute;
  left:2px;
  top:320px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:454px;
  top:640px;
  width:50px;
  height:39px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
