body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:448px;
  top:28px;
  width:394px;
  height:657px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:657px;
}
#u1 {
  position:absolute;
  left:2px;
  top:320px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:454px;
  top:633px;
  width:50px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:730px;
  top:636px;
  width:60px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
