body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:340px;
  top:51px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:340px;
  top:52px;
  width:320px;
  height:47px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:343px;
  top:59px;
  width:32px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:343px;
  top:59px;
  width:32px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:436px;
  top:64px;
  width:128px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:347px;
  top:113px;
  width:306px;
  height:257px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:257px;
}
#u12 {
  position:absolute;
  left:2px;
  top:120px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:362px;
  top:147px;
  width:84px;
  height:86px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:86px;
}
#u14 {
  position:absolute;
  left:2px;
  top:35px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:362px;
  top:122px;
  width:150px;
  height:16px;
  color:#AEAEAE;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:408px;
  top:122px;
  width:150px;
  height:16px;
  color:#00CCCC;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:460px;
  top:146px;
  width:211px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:560px;
  top:203px;
  width:84px;
  height:28px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u22 {
  position:absolute;
  left:470px;
  top:203px;
  width:75px;
  height:28px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u23 {
  position:absolute;
  left:362px;
  top:268px;
  width:84px;
  height:86px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:86px;
}
#u24 {
  position:absolute;
  left:2px;
  top:35px;
  width:80px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:460px;
  top:268px;
  width:211px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:569px;
  top:326px;
  width:75px;
  height:28px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29 {
  position:absolute;
  left:762px;
  top:51px;
  width:320px;
  height:480px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u30 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:762px;
  top:52px;
  width:320px;
  height:47px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:765px;
  top:59px;
  width:32px;
  height:32px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:765px;
  top:59px;
  width:32px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:858px;
  top:64px;
  width:128px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:769px;
  top:113px;
  width:306px;
  height:77px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:77px;
}
#u40 {
  position:absolute;
  left:2px;
  top:30px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:780px;
  top:122px;
  width:66px;
  height:59px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:59px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:860px;
  top:122px;
  width:150px;
  height:16px;
  color:#AEAEAE;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:920px;
  top:122px;
  width:150px;
  height:16px;
  color:#00CCCC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:864px;
  top:148px;
  width:211px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:32px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:352px;
  top:244px;
  width:292px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u50 {
  position:absolute;
  left:347px;
  top:389px;
  width:306px;
  height:120px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:120px;
}
#u51 {
  position:absolute;
  left:2px;
  top:52px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:362px;
  top:417px;
  width:84px;
  height:86px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:86px;
}
#u53 {
  position:absolute;
  left:2px;
  top:35px;
  width:80px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:362px;
  top:397px;
  width:150px;
  height:16px;
  color:#AEAEAE;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:460px;
  top:418px;
  width:211px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:569px;
  top:455px;
  width:75px;
  height:28px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59 {
  position:absolute;
  left:769px;
  top:200px;
  width:306px;
  height:205px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:205px;
}
#u60 {
  position:absolute;
  left:2px;
  top:94px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:769px;
  top:402px;
  width:306px;
  height:148px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:148px;
}
#u62 {
  position:absolute;
  left:2px;
  top:66px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:769px;
  top:240px;
  width:306px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u64 {
  position:absolute;
  left:880px;
  top:216px;
  width:100px;
  height:16px;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:990px;
  top:216px;
  width:100px;
  height:16px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:780px;
  top:262px;
  width:89px;
  height:16px;
  color:#797979;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:877px;
  top:250px;
  width:143px;
  height:42px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:42px;
}
#u71 {
  position:absolute;
  left:2px;
  top:13px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:769px;
  top:286px;
  width:306px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u73 {
  position:absolute;
  left:780px;
  top:216px;
  width:89px;
  height:16px;
  color:#797979;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:780px;
  top:307px;
  width:89px;
  height:16px;
  color:#797979;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:780px;
  top:388px;
  width:89px;
  height:16px;
  color:#797979;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:780px;
  top:432px;
  width:89px;
  height:16px;
  color:#797979;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:780px;
  top:476px;
  width:89px;
  height:16px;
  color:#797979;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:780px;
  top:520px;
  width:89px;
  height:16px;
  color:#797979;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:769px;
  top:365px;
  width:306px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u86 {
  position:absolute;
  left:769px;
  top:410px;
  width:306px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u87 {
  position:absolute;
  left:769px;
  top:454px;
  width:306px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u88 {
  position:absolute;
  left:769px;
  top:499px;
  width:306px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u89 {
  position:absolute;
  left:886px;
  top:388px;
  width:89px;
  height:16px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:769px;
  top:564px;
  width:306px;
  height:39px;
  font-size:16px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:39px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1085px;
  top:344px;
  width:55px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:38px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u94 {
  position:absolute;
  left:1150px;
  top:344px;
  width:150px;
  height:16px;
  color:#0099FF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1262px;
  top:51px;
  width:320px;
  height:480px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u98 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1262px;
  top:52px;
  width:320px;
  height:47px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
}
#u100 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1265px;
  top:59px;
  width:32px;
  height:32px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1265px;
  top:59px;
  width:32px;
  height:32px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1358px;
  top:64px;
  width:128px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1269px;
  top:113px;
  width:306px;
  height:77px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:77px;
}
#u108 {
  position:absolute;
  left:2px;
  top:30px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1280px;
  top:122px;
  width:66px;
  height:59px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:59px;
}
#u110 {
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1360px;
  top:122px;
  width:150px;
  height:16px;
  color:#AEAEAE;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1420px;
  top:122px;
  width:150px;
  height:16px;
  color:#00CCCC;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1364px;
  top:148px;
  width:211px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:32px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1269px;
  top:200px;
  width:306px;
  height:205px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:205px;
}
#u118 {
  position:absolute;
  left:2px;
  top:94px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1269px;
  top:402px;
  width:306px;
  height:148px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:148px;
}
#u120 {
  position:absolute;
  left:2px;
  top:66px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1280px;
  top:222px;
  width:89px;
  height:16px;
  color:#797979;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1377px;
  top:210px;
  width:143px;
  height:42px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:42px;
}
#u124 {
  position:absolute;
  left:2px;
  top:13px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1269px;
  top:249px;
  width:306px;
  height:10px;
}
#u125_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u126 {
  position:absolute;
  left:1280px;
  top:269px;
  width:89px;
  height:16px;
  color:#797979;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1280px;
  top:388px;
  width:89px;
  height:16px;
  color:#797979;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1280px;
  top:432px;
  width:89px;
  height:16px;
  color:#797979;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1280px;
  top:476px;
  width:89px;
  height:16px;
  color:#797979;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1280px;
  top:520px;
  width:89px;
  height:16px;
  color:#797979;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1269px;
  top:410px;
  width:306px;
  height:10px;
}
#u136_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u136_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u137 {
  position:absolute;
  left:1269px;
  top:454px;
  width:306px;
  height:10px;
}
#u137_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u138 {
  position:absolute;
  left:1269px;
  top:499px;
  width:306px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u139 {
  position:absolute;
  left:1386px;
  top:388px;
  width:89px;
  height:16px;
  color:#000000;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1269px;
  top:564px;
  width:306px;
  height:39px;
  font-size:16px;
  color:#FFFFFF;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:39px;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1585px;
  top:344px;
  width:55px;
  height:10px;
}
#u143_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_end {
  position:absolute;
  left:38px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u144 {
  position:absolute;
  left:1269px;
  top:365px;
  width:306px;
  height:10px;
}
#u144_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u145 {
  position:absolute;
  left:1650px;
  top:344px;
  width:150px;
  height:16px;
  color:#0099FF;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1055px;
  top:391px;
  width:55px;
  height:10px;
}
#u147_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u147_end {
  position:absolute;
  left:38px;
  top:-5px;
  width:18px;
  height:20px;
}
#u147_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u148 {
  position:absolute;
  left:1120px;
  top:389px;
  width:150px;
  height:16px;
  color:#0099FF;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1560px;
  top:391px;
  width:55px;
  height:10px;
}
#u150_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u150_end {
  position:absolute;
  left:38px;
  top:-5px;
  width:18px;
  height:20px;
}
#u150_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u151 {
  position:absolute;
  left:1625px;
  top:391px;
  width:150px;
  height:16px;
  color:#0099FF;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:410px;
  top:397px;
  width:150px;
  height:16px;
  color:#00CCCC;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:843px;
  top:430px;
  width:272px;
  height:20px;
  font-size:14px;
  color:#000000;
  line-height:20px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:20px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:1330px;
  top:430px;
  width:272px;
  height:20px;
  font-size:14px;
  color:#000000;
  line-height:20px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:20px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
