body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:16px;
  width:907px;
  height:664px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:664px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:89px;
  top:27px;
  width:286px;
  height:24px;
  font-size:20px;
  color:#3399FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:122px;
  width:320px;
  height:480px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u5 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:100px;
  width:321px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:379px;
  top:371px;
  width:5px;
  height:5px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:392px;
  top:371px;
  width:5px;
  height:5px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:405px;
  top:371px;
  width:5px;
  height:5px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:440px;
  top:484px;
  width:150px;
  height:16px;
  color:#3399FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:610px;
  top:122px;
  width:320px;
  height:480px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u17 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:220px;
  top:412px;
  width:80px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:610px;
  top:612px;
  width:247px;
  height:32px;
  color:#3399FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:641px;
  top:495px;
  width:40px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:647px;
  top:500px;
  width:30px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:230px;
  top:422px;
  width:60px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:247px;
  top:439px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:247px;
  top:439px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:730px;
  top:412px;
  width:80px;
  height:80px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u33 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:740px;
  top:422px;
  width:60px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:757px;
  top:439px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:757px;
  top:439px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:629px;
  top:543px;
  width:65px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:573px;
  top:487px;
  width:37px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:20px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:37px;
  height:1px;
}
#u43 {
  position:absolute;
  left:100px;
  top:122px;
  width:320px;
  height:270px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:270px;
}
#u44 {
  position:absolute;
  left:2px;
  top:127px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:114px;
  top:133px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:379px;
  top:372px;
  width:5px;
  height:5px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:392px;
  top:372px;
  width:5px;
  height:5px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:405px;
  top:372px;
  width:5px;
  height:5px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:197px;
  top:245px;
  width:126px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:33px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:187px;
  top:277px;
  width:153px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:227px;
  top:182px;
  width:65px;
  height:65px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:100px;
  top:74px;
  width:150px;
  height:16px;
  color:#3399FF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:240px;
  top:295px;
  width:40px;
  height:40px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:226px;
  top:334px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:240px;
  top:295px;
  width:40px;
  height:40px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:610px;
  top:100px;
  width:321px;
  height:22px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u68 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:888px;
  top:371px;
  width:5px;
  height:5px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:902px;
  top:371px;
  width:5px;
  height:5px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:914px;
  top:371px;
  width:5px;
  height:5px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:610px;
  top:122px;
  width:320px;
  height:270px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:270px;
}
#u76 {
  position:absolute;
  left:2px;
  top:127px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:624px;
  top:133px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:888px;
  top:372px;
  width:5px;
  height:5px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:902px;
  top:372px;
  width:5px;
  height:5px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:914px;
  top:372px;
  width:5px;
  height:5px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:706px;
  top:245px;
  width:126px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:33px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:694px;
  top:277px;
  width:149px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:736px;
  top:182px;
  width:65px;
  height:65px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u90 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:750px;
  top:295px;
  width:40px;
  height:40px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:736px;
  top:334px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:750px;
  top:295px;
  width:40px;
  height:40px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:70px;
  top:776px;
  width:907px;
  height:592px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:592px;
}
#u98 {
  position:absolute;
  left:2px;
  top:288px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:89px;
  top:787px;
  width:308px;
  height:24px;
  font-size:20px;
  color:#3399FF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:24px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:100px;
  top:853px;
  width:320px;
  height:480px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u102 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:100px;
  top:831px;
  width:321px;
  height:22px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u104 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:379px;
  top:1102px;
  width:5px;
  height:5px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:392px;
  top:1102px;
  width:5px;
  height:5px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:405px;
  top:1102px;
  width:5px;
  height:5px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:100px;
  top:853px;
  width:320px;
  height:270px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:270px;
}
#u112 {
  position:absolute;
  left:2px;
  top:127px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:114px;
  top:864px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:379px;
  top:1103px;
  width:5px;
  height:5px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:392px;
  top:1103px;
  width:5px;
  height:5px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u118 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:405px;
  top:1103px;
  width:5px;
  height:5px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u120 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:197px;
  top:976px;
  width:126px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:33px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:185px;
  top:1008px;
  width:152px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:227px;
  top:913px;
  width:65px;
  height:65px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u126 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:226px;
  top:1065px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:240px;
  top:1025px;
  width:40px;
  height:40px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:240px;
  top:1025px;
  width:40px;
  height:40px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u132 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:610px;
  top:853px;
  width:320px;
  height:480px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u134 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:610px;
  top:831px;
  width:321px;
  height:22px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u136 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:888px;
  top:1102px;
  width:5px;
  height:5px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u138 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:902px;
  top:1102px;
  width:5px;
  height:5px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u140 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:914px;
  top:1102px;
  width:5px;
  height:5px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u142 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:610px;
  top:853px;
  width:320px;
  height:270px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:270px;
}
#u144 {
  position:absolute;
  left:2px;
  top:127px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:624px;
  top:864px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:888px;
  top:1103px;
  width:5px;
  height:5px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u148 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:902px;
  top:1103px;
  width:5px;
  height:5px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u150 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:914px;
  top:1103px;
  width:5px;
  height:5px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u152 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:706px;
  top:976px;
  width:126px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:33px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:697px;
  top:1008px;
  width:152px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:736px;
  top:913px;
  width:65px;
  height:65px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u158 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:736px;
  top:1065px;
  width:69px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:750px;
  top:1025px;
  width:40px;
  height:40px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u162 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:750px;
  top:1025px;
  width:40px;
  height:40px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u164 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:610px;
  top:790px;
  width:360px;
  height:32px;
  color:#3399FF;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:227px;
  top:182px;
  width:65px;
  height:65px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u168 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:736px;
  top:182px;
  width:65px;
  height:65px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u170 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:227px;
  top:913px;
  width:65px;
  height:65px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u172 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:736px;
  top:913px;
  width:65px;
  height:65px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u174 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:858px;
  top:495px;
  width:40px;
  height:40px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u176 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:846px;
  top:543px;
  width:65px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:858px;
  top:495px;
  width:40px;
  height:40px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u180 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:858px;
  top:495px;
  width:40px;
  height:40px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u182 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:220px;
  top:1144px;
  width:80px;
  height:80px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u184 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:859px;
  top:1227px;
  width:40px;
  height:40px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u186 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:641px;
  top:1227px;
  width:40px;
  height:40px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u188 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:846px;
  top:1275px;
  width:65px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:647px;
  top:1232px;
  width:30px;
  height:30px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u192 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:230px;
  top:1154px;
  width:60px;
  height:60px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u194 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:247px;
  top:1171px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u196 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:247px;
  top:1171px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u198 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:730px;
  top:1144px;
  width:80px;
  height:80px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u200 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:740px;
  top:1154px;
  width:60px;
  height:60px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u202 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:757px;
  top:1171px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u204 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:757px;
  top:1171px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u206 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:629px;
  top:1275px;
  width:65px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:750px;
  top:1250px;
  width:40px;
  height:40px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u210 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:738px;
  top:1298px;
  width:65px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:859px;
  top:1227px;
  width:40px;
  height:40px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u214 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:750px;
  top:1250px;
  width:40px;
  height:40px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u216 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:750px;
  top:1250px;
  width:40px;
  height:40px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:859px;
  top:1227px;
  width:40px;
  height:40px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u220 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:1020px;
  top:35px;
  width:150px;
  height:16px;
  color:#3399FF;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:1020px;
  top:111px;
  width:257px;
  height:120px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:120px;
}
#u224 {
  position:absolute;
  left:2px;
  top:52px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:1031px;
  top:138px;
  width:233px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:1160px;
  top:180px;
  width:97px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u228 {
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:1040px;
  top:180px;
  width:98px;
  height:34px;
  font-size:14px;
  color:#6B6B6B;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u230 {
  position:absolute;
  left:2px;
  top:9px;
  width:94px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:1020px;
  top:302px;
  width:257px;
  height:120px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:120px;
}
#u232 {
  position:absolute;
  left:2px;
  top:52px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:1031px;
  top:329px;
  width:233px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:1160px;
  top:371px;
  width:97px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u236 {
  position:absolute;
  left:2px;
  top:9px;
  width:93px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:1040px;
  top:371px;
  width:98px;
  height:34px;
  font-size:14px;
  color:#6B6B6B;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u238 {
  position:absolute;
  left:2px;
  top:9px;
  width:94px;
  word-wrap:break-word;
}
