body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:631px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:300px;
  top:51px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:300px;
  top:52px;
  width:320px;
  height:47px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:303px;
  top:59px;
  width:32px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:303px;
  top:59px;
  width:32px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:396px;
  top:64px;
  width:128px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:307px;
  top:110px;
  width:306px;
  height:109px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:109px;
}
#u12 {
  position:absolute;
  left:2px;
  top:46px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:319px;
  top:121px;
  width:84px;
  height:86px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:86px;
}
#u14 {
  position:absolute;
  left:2px;
  top:35px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:420px;
  top:121px;
  width:211px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:496px;
  top:146px;
  width:70px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:420px;
  top:145px;
  width:104px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FF9933;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:307px;
  top:236px;
  width:306px;
  height:109px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:109px;
}
#u22 {
  position:absolute;
  left:2px;
  top:46px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:319px;
  top:248px;
  width:84px;
  height:86px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:86px;
}
#u24 {
  position:absolute;
  left:2px;
  top:35px;
  width:80px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:420px;
  top:248px;
  width:211px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:420px;
  top:272px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FF9933;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:510px;
  top:304px;
  width:93px;
  height:30px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30 {
  position:absolute;
  left:510px;
  top:178px;
  width:93px;
  height:30px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:417px;
  top:178px;
  width:73px;
  height:30px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32 {
  position:absolute;
  left:417px;
  top:304px;
  width:73px;
  height:30px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
