body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:448px;
  top:28px;
  width:394px;
  height:657px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:657px;
}
#u1 {
  position:absolute;
  left:2px;
  top:320px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:488px;
  top:581px;
  width:57px;
  height:57px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:725px;
  top:548px;
  width:155px;
  height:88px;
  overflow:hidden;
  visibility:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:43px;
  width:110px;
  height:41px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:12px;
  top:55px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:12px;
  top:12px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:792px;
  top:637px;
  width:49px;
  height:48px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:454px;
  top:638px;
  width:50px;
  height:41px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:390px;
  top:604px;
  width:48px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:48px;
  height:3px;
}
#u18 {
  position:absolute;
  left:192px;
  top:588px;
  width:198px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
  color:#797979;
  line-height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
