body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:211px;
  top:51px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:211px;
  top:52px;
  width:320px;
  height:47px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:214px;
  top:59px;
  width:32px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:214px;
  top:59px;
  width:32px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:211px;
  top:526px;
  width:320px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u10 {
  position:absolute;
  left:307px;
  top:63px;
  width:128px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:211px;
  top:100px;
  width:319px;
  height:287px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:287px;
}
#u13 {
  position:absolute;
  left:2px;
  top:136px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:221px;
  top:348px;
  width:169px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:414px;
  top:348px;
  width:104px;
  height:32px;
  color:#282828;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:221px;
  top:451px;
  width:297px;
  height:89px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:89px;
}
#u19 {
  position:absolute;
  left:2px;
  top:36px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:221px;
  top:266px;
  width:299px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:230px;
  top:463px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#009999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:489px;
  top:455px;
  width:31px;
  height:31px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:514px;
  top:465px;
  width:47px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:30px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:47px;
  height:1px;
}
#u27 {
  position:absolute;
  left:312px;
  top:112px;
  width:110px;
  height:137px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:137px;
}
#u28 {
  position:absolute;
  left:2px;
  top:60px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:221px;
  top:396px;
  width:297px;
  height:43px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:43px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:228px;
  top:407px;
  width:115px;
  height:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:489px;
  top:403px;
  width:31px;
  height:31px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:348px;
  top:408px;
  width:112px;
  height:20px;
  color:#009999;
  line-height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:230px;
  top:486px;
  width:280px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u38 {
  position:absolute;
  left:228px;
  top:496px;
  width:289px;
  height:39px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:39px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:489px;
  top:484px;
  width:30px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:489px;
  top:484px;
  width:30px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:489px;
  top:484px;
  width:30px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:221px;
  top:288px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF6600;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:571px;
  top:412px;
  width:210px;
  height:16px;
  color:#3399FF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:514px;
  top:414px;
  width:47px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:30px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:47px;
  height:1px;
}
#u51 {
  position:absolute;
  left:571px;
  top:462px;
  width:210px;
  height:16px;
  color:#3399FF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:303px;
  top:107px;
  width:135px;
  height:142px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:142px;
}
#u54 {
  position:absolute;
  left:2px;
  top:63px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:486px;
  top:107px;
  width:44px;
  height:139px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:139px;
}
#u56 {
  position:absolute;
  left:2px;
  top:62px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:468px;
  top:107px;
  width:61px;
  height:151px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:151px;
}
#u58 {
  position:absolute;
  left:2px;
  top:68px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:346px;
  top:251px;
  width:8px;
  height:8px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:366px;
  top:251px;
  width:8px;
  height:8px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:386px;
  top:251px;
  width:8px;
  height:8px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:221px;
  top:308px;
  width:308px;
  height:19px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:221px;
  top:311px;
  width:129px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:112px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:129px;
  height:1px;
}
#u68 {
  position:absolute;
  left:181px;
  top:532px;
  width:366px;
  height:71px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:71px;
}
#u69 {
  position:absolute;
  left:2px;
  top:28px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:211px;
  top:526px;
  width:320px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u71 {
  position:absolute;
  left:221px;
  top:330px;
  width:303px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
