body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:211px;
  top:51px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:211px;
  top:52px;
  width:320px;
  height:47px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:214px;
  top:59px;
  width:32px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:214px;
  top:59px;
  width:32px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:211px;
  top:131px;
  width:319px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:226px;
  top:146px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:501px;
  top:136px;
  width:30px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:211px;
  top:171px;
  width:319px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:226px;
  top:186px;
  width:235px;
  height:16px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:501px;
  top:176px;
  width:30px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:211px;
  top:211px;
  width:319px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:226px;
  top:226px;
  width:198px;
  height:16px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:501px;
  top:216px;
  width:30px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:211px;
  top:251px;
  width:319px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:226px;
  top:266px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:501px;
  top:256px;
  width:30px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:211px;
  top:291px;
  width:319px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:226px;
  top:306px;
  width:213px;
  height:16px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:501px;
  top:296px;
  width:30px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:211px;
  top:331px;
  width:319px;
  height:40px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:226px;
  top:346px;
  width:198px;
  height:16px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:501px;
  top:336px;
  width:30px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:181px;
  top:532px;
  width:366px;
  height:71px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:71px;
}
#u46 {
  position:absolute;
  left:2px;
  top:28px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:211px;
  top:526px;
  width:320px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u48 {
  position:absolute;
  left:318px;
  top:63px;
  width:107px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:211px;
  top:101px;
  width:64px;
  height:30px;
  color:#FF6600;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:275px;
  top:101px;
  width:64px;
  height:30px;
  color:#999999;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:339px;
  top:101px;
  width:64px;
  height:30px;
  color:#999999;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:402px;
  top:101px;
  width:64px;
  height:30px;
  color:#999999;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:466px;
  top:101px;
  width:64px;
  height:30px;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:211px;
  top:371px;
  width:319px;
  height:40px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:226px;
  top:386px;
  width:198px;
  height:16px;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:501px;
  top:376px;
  width:30px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:211px;
  top:411px;
  width:319px;
  height:40px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:226px;
  top:426px;
  width:198px;
  height:16px;
  font-size:14px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:501px;
  top:416px;
  width:30px;
  height:30px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:211px;
  top:451px;
  width:319px;
  height:40px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:226px;
  top:466px;
  width:243px;
  height:16px;
  font-size:14px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:501px;
  top:456px;
  width:30px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:211px;
  top:491px;
  width:319px;
  height:40px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:226px;
  top:506px;
  width:243px;
  height:16px;
  font-size:14px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:501px;
  top:496px;
  width:30px;
  height:30px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:521px;
  top:146px;
  width:75px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:58px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:75px;
  height:1px;
}
#u85 {
  position:absolute;
  left:607px;
  top:143px;
  width:150px;
  height:16px;
  color:#3399FF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:489px;
  top:484px;
  width:30px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:489px;
  top:484px;
  width:30px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:489px;
  top:484px;
  width:30px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:773px;
  top:51px;
  width:320px;
  height:480px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u95 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:773px;
  top:52px;
  width:320px;
  height:47px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
}
#u97 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:776px;
  top:59px;
  width:32px;
  height:32px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:776px;
  top:59px;
  width:32px;
  height:32px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u101 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:880px;
  top:63px;
  width:107px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1051px;
  top:484px;
  width:30px;
  height:30px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1051px;
  top:484px;
  width:30px;
  height:30px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1051px;
  top:484px;
  width:30px;
  height:30px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:795px;
  top:111px;
  width:249px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:19px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:783px;
  top:113px;
  width:5px;
  height:15px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u113 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:795px;
  top:147px;
  width:280px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:795px;
  top:150px;
  width:286px;
  height:16px;
  line-height:28px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:795px;
  top:140px;
  width:286px;
  height:60px;
  font-size:14px;
  color:#999999;
  line-height:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:60px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:796px;
  top:212px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:783px;
  top:213px;
  width:5px;
  height:15px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u123 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:796px;
  top:240px;
  width:68px;
  height:88px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:88px;
}
#u125 {
  position:absolute;
  left:2px;
  top:36px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:884px;
  top:240px;
  width:68px;
  height:89px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:89px;
}
#u127 {
  position:absolute;
  left:2px;
  top:36px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:796px;
  top:342px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:783px;
  top:343px;
  width:5px;
  height:15px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
}
#u131 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:773px;
  top:366px;
  width:319px;
  height:40px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u133 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:788px;
  top:381px;
  width:235px;
  height:16px;
  font-size:14px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1063px;
  top:371px;
  width:30px;
  height:30px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u137 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:972px;
  top:240px;
  width:68px;
  height:88px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:88px;
}
#u139 {
  position:absolute;
  left:2px;
  top:36px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1060px;
  top:240px;
  width:35px;
  height:89px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:89px;
}
#u141 {
  position:absolute;
  left:2px;
  top:36px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:772px;
  top:406px;
  width:319px;
  height:40px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
}
#u143 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:787px;
  top:421px;
  width:198px;
  height:16px;
  font-size:14px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1062px;
  top:411px;
  width:30px;
  height:30px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u147 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1126px;
  top:276px;
  width:297px;
  height:16px;
  color:#3399FF;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1126px;
  top:261px;
  width:148px;
  height:10px;
}
#u150_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u150_end {
  position:absolute;
  left:131px;
  top:-5px;
  width:18px;
  height:20px;
}
#u150_line {
  position:absolute;
  left:0px;
  top:5px;
  width:148px;
  height:1px;
}
