body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1207px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:39px;
  top:53px;
  width:49px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:39px;
  top:16px;
  width:65px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:39px;
  top:109px;
  width:10px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:59px;
  top:110px;
  width:49px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:58px;
  top:169px;
  width:512px;
  height:20px;
  line-height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:39px;
  top:1765px;
  width:10px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:59px;
  top:1766px;
  width:97px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:39px;
  top:420px;
  width:10px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:59px;
  top:421px;
  width:97px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:39px;
  top:289px;
  width:10px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:59px;
  top:290px;
  width:97px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:58px;
  top:480px;
  width:1154px;
  height:1225px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:345px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:349px;
  top:0px;
  width:800px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:796px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:50px;
  width:349px;
  height:160px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:160px;
}
#u32 {
  position:absolute;
  left:2px;
  top:72px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:349px;
  top:50px;
  width:800px;
  height:160px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:160px;
}
#u34 {
  position:absolute;
  left:2px;
  top:72px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:210px;
  width:349px;
  height:220px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:220px;
}
#u36 {
  position:absolute;
  left:2px;
  top:102px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:349px;
  top:210px;
  width:800px;
  height:220px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:220px;
}
#u38 {
  position:absolute;
  left:2px;
  top:102px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:430px;
  width:349px;
  height:260px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:260px;
}
#u40 {
  position:absolute;
  left:2px;
  top:122px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:349px;
  top:430px;
  width:800px;
  height:260px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:260px;
}
#u42 {
  position:absolute;
  left:2px;
  top:122px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:690px;
  width:349px;
  height:100px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:349px;
  top:690px;
  width:800px;
  height:100px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:42px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:790px;
  width:349px;
  height:220px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:220px;
}
#u48 {
  position:absolute;
  left:2px;
  top:102px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:349px;
  top:790px;
  width:800px;
  height:220px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:220px;
}
#u50 {
  position:absolute;
  left:2px;
  top:102px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:1010px;
  width:349px;
  height:210px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:210px;
}
#u52 {
  position:absolute;
  left:2px;
  top:97px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:349px;
  top:1010px;
  width:800px;
  height:210px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:210px;
}
#u54 {
  position:absolute;
  left:2px;
  top:97px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:101px;
  top:602px;
  width:260px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:58px;
  top:198px;
  width:352px;
  height:20px;
  line-height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:58px;
  top:225px;
  width:262px;
  height:20px;
  line-height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:58px;
  top:329px;
  width:592px;
  height:48px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:48px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:58px;
  top:1814px;
  width:1032px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:58px;
  top:2644px;
  width:366px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:58px;
  top:2404px;
  width:1022px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:58px;
  top:2034px;
  width:332px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:58px;
  top:1906px;
  width:740px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:101px;
  top:1219px;
  width:260px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:101px;
  top:1378px;
  width:260px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:101px;
  top:1583px;
  width:260px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:512px;
  top:577px;
  width:298px;
  height:32px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:32px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:481px;
  top:1211px;
  width:310px;
  height:36px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:484px;
  top:1214px;
  width:296px;
  height:26px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:26px;
}
#u84 {
  position:absolute;
  left:2px;
  top:5px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:482px;
  top:1313px;
  width:149px;
  height:34px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u86 {
  position:absolute;
  left:2px;
  top:9px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:482px;
  top:1347px;
  width:149px;
  height:115px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:115px;
}
#u88 {
  position:absolute;
  left:2px;
  top:50px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:631px;
  top:1313px;
  width:135px;
  height:34px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u90 {
  position:absolute;
  left:2px;
  top:9px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:425px;
  top:1506px;
  width:200px;
  height:183px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:183px;
}
#u92 {
  position:absolute;
  left:2px;
  top:84px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:58px;
  top:1855px;
  width:61px;
  height:24px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:100px;
  top:2003px;
  width:256px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:239px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:256px;
  height:1px;
}
#u96 {
  position:absolute;
  left:362px;
  top:2000px;
  width:178px;
  height:16px;
  color:#3399FF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:58px;
  top:1963px;
  width:288px;
  height:27px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:27px;
}
#u99 {
  position:absolute;
  left:2px;
  top:6px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:94px;
  top:1992px;
  width:10px;
  height:16px;
}
#u100_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u100_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u100_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u101 {
  position:absolute;
  left:110px;
  top:1863px;
  width:46px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u102 {
  position:absolute;
  left:158px;
  top:1860px;
  width:178px;
  height:16px;
  color:#3399FF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:79px;
  top:2064px;
  width:744px;
  height:72px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:72px;
}
#u105 {
  position:absolute;
  left:2px;
  top:28px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:79px;
  top:2135px;
  width:744px;
  height:243px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:243px;
}
#u107 {
  position:absolute;
  left:2px;
  top:114px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:79px;
  top:2136px;
  width:744px;
  height:242px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:242px;
}
#u109 {
  position:absolute;
  left:2px;
  top:113px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:823px;
  top:2243px;
  width:46px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u111 {
  position:absolute;
  left:871px;
  top:2240px;
  width:178px;
  height:16px;
  color:#3399FF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:514px;
  top:2452px;
  width:79px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u114 {
  position:absolute;
  left:595px;
  top:2449px;
  width:178px;
  height:16px;
  color:#3399FF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:77px;
  top:2671px;
  width:347px;
  height:31px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:31px;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:189px;
  top:2675px;
  width:23px;
  height:26px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u119 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:358px;
  top:2675px;
  width:32px;
  height:26px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u121 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:101px;
  top:788px;
  width:260px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:440px;
  top:708px;
  width:661px;
  height:183px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:183px;
}
#u125 {
  position:absolute;
  left:2px;
  top:84px;
  width:657px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:58px;
  top:2482px;
  width:742px;
  height:110px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:110px;
}
#u127 {
  position:absolute;
  left:2px;
  top:47px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:509px;
  top:2458px;
  width:10px;
  height:37px;
}
#u128_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u128_end {
  position:absolute;
  left:-5px;
  top:20px;
  width:20px;
  height:18px;
}
#u128_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:37px;
}
#u129 {
  position:absolute;
  left:486px;
  top:2615px;
  width:79px;
  height:10px;
}
#u129_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u130 {
  position:absolute;
  left:567px;
  top:2612px;
  width:178px;
  height:16px;
  color:#3399FF;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:482px;
  top:2562px;
  width:10px;
  height:60px;
}
#u132_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u132_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u132_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u133 {
  position:absolute;
  left:101px;
  top:1028px;
  width:260px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:431px;
  top:924px;
  width:750px;
  height:235px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:235px;
}
#u136 {
  position:absolute;
  left:2px;
  top:110px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:58px;
  top:2740px;
  width:366px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:77px;
  top:2770px;
  width:347px;
  height:31px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:31px;
}
#u140 {
  position:absolute;
  left:2px;
  top:8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:358px;
  top:2774px;
  width:32px;
  height:26px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u142 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
