body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:448px;
  top:28px;
  width:394px;
  height:656px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:656px;
}
#u1 {
  position:absolute;
  left:2px;
  top:320px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:481px;
  top:580px;
  width:48px;
  height:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:627px;
  top:580px;
  width:48px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:385px;
  top:682px;
  width:556px;
  height:529px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:529px;
}
#u7 {
  position:absolute;
  left:2px;
  top:256px;
  width:552px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:448px;
  top:297px;
  width:393px;
  height:339px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:339px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:-1px;
  top:0px;
  width:393px;
  height:340px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:340px;
}
#u10 {
  position:absolute;
  left:2px;
  top:162px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:312px;
  top:288px;
  width:47px;
  height:47px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:26px;
  top:283px;
  width:57px;
  height:57px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u14 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:722px;
  top:497px;
  width:153px;
  height:131px;
  overflow:hidden;
  visibility:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:131px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:128px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:128px;
}
#u17 {
  position:absolute;
  left:2px;
  top:56px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:101px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:85px;
  width:110px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u21 {
  position:absolute;
  left:12px;
  top:58px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:39px;
  width:110px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u24 {
  position:absolute;
  left:12px;
  top:12px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:448px;
  top:636px;
  width:394px;
  height:48px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:48px;
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:791px;
  top:633px;
  width:49px;
  height:48px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:454px;
  top:633px;
  width:50px;
  height:46px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u31 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
