body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:448px;
  top:28px;
  width:394px;
  height:1149px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:1149px;
}
#u1 {
  position:absolute;
  left:2px;
  top:566px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:449px;
  top:1121px;
  width:50px;
  height:51px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:600px;
  top:1129px;
  width:180px;
  height:31px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:708px;
  top:1034px;
  width:130px;
  height:86px;
  overflow:hidden;
  visibility:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:86px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:43px;
  width:130px;
  height:43px;
  font-size:16px;
  color:#D1D1D1;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:43px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:43px;
  font-size:16px;
  color:#D1D1D1;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:37px;
  width:130px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:130px;
  height:1px;
}
#u12 {
  position:absolute;
  left:791px;
  top:1120px;
  width:50px;
  height:51px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:139px;
  top:29px;
  width:240px;
  height:125px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:15px;
  color:#364E5A;
  line-height:25px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:125px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
