body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:100px;
  width:321px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:185px;
  top:167px;
  width:150px;
  height:33px;
  font-family:'Arial Black Black', 'Arial Black';
  font-size:28px;
  color:#BCBCBC;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:155px;
  top:216px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:155px;
  top:289px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:155px;
  top:396px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:156px;
  top:506px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#4BC2A8;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u13 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:155px;
  top:352px;
  width:100px;
  height:16px;
  color:#666666;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:250px;
  top:352px;
  width:100px;
  height:16px;
  color:#666666;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:220px;
  top:437px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#4BC2A8;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:246px;
  top:474px;
  width:30px;
  height:15px;
  font-size:12px;
  color:#D7D7D7;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:279px;
  top:476px;
  width:120px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u23 {
  position:absolute;
  left:122px;
  top:476px;
  width:120px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u24 {
  position:absolute;
  left:100px;
  top:68px;
  width:230px;
  height:16px;
  color:#3399FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:429px;
  top:203px;
  width:195px;
  height:32px;
  color:#3399FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:32px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:460px;
  top:352px;
  width:160px;
  height:16px;
  color:#3399FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:350px;
  top:355px;
  width:100px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u31 {
  position:absolute;
  left:365px;
  top:247px;
  width:85px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u32 {
  position:absolute;
  left:988px;
  top:100px;
  width:320px;
  height:480px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u33 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:988px;
  top:100px;
  width:321px;
  height:22px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u35 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1073px;
  top:167px;
  width:150px;
  height:33px;
  font-family:'Arial Black Black', 'Arial Black';
  font-size:28px;
  color:#BCBCBC;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1043px;
  top:216px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1043px;
  top:289px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1043px;
  top:396px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u43 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1044px;
  top:506px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#4BC2A8;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u45 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1043px;
  top:352px;
  width:100px;
  height:16px;
  color:#666666;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:1138px;
  top:352px;
  width:100px;
  height:16px;
  color:#666666;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:1108px;
  top:437px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#4BC2A8;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1176px;
  top:315px;
  width:10px;
  height:20px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:20px;
}
#u53 {
  position:absolute;
  left:1134px;
  top:474px;
  width:30px;
  height:15px;
  font-size:12px;
  color:#D7D7D7;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1167px;
  top:476px;
  width:120px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u56 {
  position:absolute;
  left:1010px;
  top:476px;
  width:120px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u57 {
  position:absolute;
  left:1071px;
  top:320px;
  width:10px;
  height:10px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1053px;
  top:320px;
  width:10px;
  height:10px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1089px;
  top:320px;
  width:10px;
  height:10px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1108px;
  top:320px;
  width:10px;
  height:10px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1126px;
  top:320px;
  width:10px;
  height:10px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1144px;
  top:320px;
  width:10px;
  height:10px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1162px;
  top:320px;
  width:10px;
  height:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1226px;
  top:312px;
  width:27px;
  height:27px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1314px;
  top:319px;
  width:230px;
  height:16px;
  color:#3399FF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1249px;
  top:322px;
  width:55px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:38px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u76 {
  position:absolute;
  left:988px;
  top:80px;
  width:230px;
  height:16px;
  color:#3399FF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:154px;
  top:261px;
  width:210px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u79 {
  position:absolute;
  left:149px;
  top:259px;
  width:10px;
  height:7px;
}
#u79_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u79_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u79_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u80 {
  position:absolute;
  left:360px;
  top:259px;
  width:10px;
  height:7px;
}
#u80_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u80_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u80_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u81 {
  position:absolute;
  left:154px;
  top:328px;
  width:210px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u82 {
  position:absolute;
  left:149px;
  top:326px;
  width:10px;
  height:7px;
}
#u82_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u82_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u82_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u83 {
  position:absolute;
  left:360px;
  top:326px;
  width:10px;
  height:7px;
}
#u83_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u83_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u83_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u84 {
  position:absolute;
  left:1044px;
  top:261px;
  width:210px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u85 {
  position:absolute;
  left:1038px;
  top:259px;
  width:10px;
  height:7px;
}
#u85_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u85_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u85_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u86 {
  position:absolute;
  left:1250px;
  top:259px;
  width:10px;
  height:7px;
}
#u86_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u86_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u86_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u87 {
  position:absolute;
  left:1044px;
  top:335px;
  width:210px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u88 {
  position:absolute;
  left:1038px;
  top:333px;
  width:10px;
  height:7px;
}
#u88_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u88_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u88_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u89 {
  position:absolute;
  left:1250px;
  top:333px;
  width:10px;
  height:7px;
}
#u89_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u89_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u89_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u90 {
  position:absolute;
  left:1041px;
  top:242px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:151px;
  top:245px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:340px;
  top:251px;
  width:15px;
  height:8px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:460px;
  top:245px;
  width:164px;
  height:16px;
  color:#3399FF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:641px;
  top:100px;
  width:320px;
  height:480px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u99 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:727px;
  top:167px;
  width:150px;
  height:33px;
  font-family:'Arial Black Black', 'Arial Black';
  font-size:28px;
  color:#BCBCBC;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:697px;
  top:216px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:697px;
  top:289px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:697px;
  top:396px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u107 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:697px;
  top:506px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#4BC2A8;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u109 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:697px;
  top:352px;
  width:100px;
  height:16px;
  color:#666666;
}
#u111 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u110_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u112 {
  position:absolute;
  left:791px;
  top:352px;
  width:100px;
  height:16px;
  color:#666666;
}
#u113 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u112_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u114 {
  position:absolute;
  left:761px;
  top:437px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#4BC2A8;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:787px;
  top:474px;
  width:30px;
  height:15px;
  font-size:12px;
  color:#D7D7D7;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:821px;
  top:476px;
  width:120px;
  height:10px;
}
#u118_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u119 {
  position:absolute;
  left:663px;
  top:476px;
  width:120px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u120 {
  position:absolute;
  left:695px;
  top:261px;
  width:210px;
  height:10px;
}
#u120_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u121 {
  position:absolute;
  left:691px;
  top:259px;
  width:10px;
  height:7px;
}
#u121_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u121_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u121_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u122 {
  position:absolute;
  left:901px;
  top:259px;
  width:10px;
  height:7px;
}
#u122_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u122_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u122_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u123 {
  position:absolute;
  left:695px;
  top:328px;
  width:210px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u124 {
  position:absolute;
  left:691px;
  top:326px;
  width:10px;
  height:7px;
}
#u124_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u124_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u124_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u125 {
  position:absolute;
  left:901px;
  top:326px;
  width:10px;
  height:7px;
}
#u125_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u125_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u125_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u126 {
  position:absolute;
  left:693px;
  top:245px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:641px;
  top:100px;
  width:321px;
  height:22px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u129 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:885px;
  top:251px;
  width:15px;
  height:8px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u131 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:696px;
  top:266px;
  width:210px;
  height:140px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:140px;
}
#u133 {
  position:absolute;
  left:2px;
  top:62px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:705px;
  top:308px;
  width:193px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:176px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:193px;
  height:1px;
}
#u135 {
  position:absolute;
  left:723px;
  top:284px;
  width:150px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:723px;
  top:329px;
  width:150px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:705px;
  top:356px;
  width:193px;
  height:10px;
}
#u139_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_end {
  position:absolute;
  left:176px;
  top:-5px;
  width:18px;
  height:20px;
}
#u139_line {
  position:absolute;
  left:0px;
  top:5px;
  width:193px;
  height:1px;
}
#u140 {
  position:absolute;
  left:723px;
  top:375px;
  width:150px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:1233px;
  top:251px;
  width:15px;
  height:8px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u143 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:100px;
  top:634px;
  width:230px;
  height:16px;
  color:#3399FF;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:100px;
  top:661px;
  width:320px;
  height:480px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u147 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:100px;
  top:661px;
  width:321px;
  height:22px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u149 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:185px;
  top:728px;
  width:150px;
  height:33px;
  font-family:'Arial Black Black', 'Arial Black';
  font-size:28px;
  color:#BCBCBC;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:155px;
  top:777px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:155px;
  top:850px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:155px;
  top:957px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u157 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:156px;
  top:1067px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#4BC2A8;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u159 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:155px;
  top:913px;
  width:100px;
  height:16px;
  color:#666666;
}
#u161 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u160_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u162 {
  position:absolute;
  left:250px;
  top:913px;
  width:100px;
  height:16px;
  color:#666666;
}
#u163 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u162_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u164 {
  position:absolute;
  left:220px;
  top:998px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#4BC2A8;
  text-align:center;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:246px;
  top:1035px;
  width:30px;
  height:15px;
  font-size:12px;
  color:#D7D7D7;
  text-align:center;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:279px;
  top:1037px;
  width:120px;
  height:10px;
}
#u168_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u168_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u168_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u169 {
  position:absolute;
  left:122px;
  top:1037px;
  width:120px;
  height:10px;
}
#u169_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u169_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u169_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u170 {
  position:absolute;
  left:460px;
  top:913px;
  width:160px;
  height:16px;
  color:#3399FF;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:350px;
  top:916px;
  width:100px;
  height:10px;
}
#u172_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u172_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u172_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u173 {
  position:absolute;
  left:365px;
  top:808px;
  width:85px;
  height:10px;
}
#u173_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u173_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u173_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u174 {
  position:absolute;
  left:154px;
  top:822px;
  width:210px;
  height:10px;
}
#u174_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u174_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u174_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u175 {
  position:absolute;
  left:149px;
  top:820px;
  width:10px;
  height:7px;
}
#u175_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u175_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u175_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u176 {
  position:absolute;
  left:360px;
  top:820px;
  width:10px;
  height:7px;
}
#u176_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u176_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u176_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u177 {
  position:absolute;
  left:154px;
  top:889px;
  width:210px;
  height:10px;
}
#u177_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u177_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u177_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u178 {
  position:absolute;
  left:149px;
  top:887px;
  width:10px;
  height:7px;
}
#u178_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u178_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u178_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u179 {
  position:absolute;
  left:360px;
  top:887px;
  width:10px;
  height:7px;
}
#u179_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u179_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u179_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u180 {
  position:absolute;
  left:157px;
  top:804px;
  width:10px;
  height:20px;
}
#u180_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u180_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u180_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:20px;
}
#u181 {
  position:absolute;
  left:340px;
  top:812px;
  width:15px;
  height:8px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u182 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:460px;
  top:806px;
  width:164px;
  height:16px;
  color:#3399FF;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:639px;
  top:661px;
  width:320px;
  height:480px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u186 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:639px;
  top:661px;
  width:321px;
  height:22px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u188 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:724px;
  top:728px;
  width:150px;
  height:33px;
  font-family:'Arial Black Black', 'Arial Black';
  font-size:28px;
  color:#BCBCBC;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:694px;
  top:777px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:694px;
  top:850px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:694px;
  top:957px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u196 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:695px;
  top:1067px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#4BC2A8;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u198 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:694px;
  top:913px;
  width:100px;
  height:16px;
  color:#666666;
}
#u200 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u199_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u201 {
  position:absolute;
  left:789px;
  top:913px;
  width:100px;
  height:16px;
  color:#666666;
}
#u202 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u203 {
  position:absolute;
  left:759px;
  top:998px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#4BC2A8;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:785px;
  top:1035px;
  width:30px;
  height:15px;
  font-size:12px;
  color:#D7D7D7;
  text-align:center;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:818px;
  top:1037px;
  width:120px;
  height:10px;
}
#u207_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u207_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u207_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u208 {
  position:absolute;
  left:661px;
  top:1037px;
  width:120px;
  height:10px;
}
#u208_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u209 {
  position:absolute;
  left:999px;
  top:913px;
  width:160px;
  height:16px;
  color:#3399FF;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:889px;
  top:916px;
  width:100px;
  height:10px;
}
#u211_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u211_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u211_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u212 {
  position:absolute;
  left:904px;
  top:808px;
  width:85px;
  height:10px;
}
#u212_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u212_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u212_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u213 {
  position:absolute;
  left:693px;
  top:822px;
  width:210px;
  height:10px;
}
#u213_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u213_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u213_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u214 {
  position:absolute;
  left:688px;
  top:820px;
  width:10px;
  height:7px;
}
#u214_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u214_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u214_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u215 {
  position:absolute;
  left:899px;
  top:820px;
  width:10px;
  height:7px;
}
#u215_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u215_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u215_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u216 {
  position:absolute;
  left:693px;
  top:889px;
  width:210px;
  height:10px;
}
#u216_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u216_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u216_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u217 {
  position:absolute;
  left:688px;
  top:887px;
  width:10px;
  height:7px;
}
#u217_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u217_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u217_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u218 {
  position:absolute;
  left:899px;
  top:887px;
  width:10px;
  height:7px;
}
#u218_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u218_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u218_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u219 {
  position:absolute;
  left:690px;
  top:806px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:797px;
  top:804px;
  width:10px;
  height:20px;
}
#u221_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u221_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u221_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:20px;
}
#u222 {
  position:absolute;
  left:879px;
  top:812px;
  width:15px;
  height:8px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u223 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:999px;
  top:806px;
  width:164px;
  height:16px;
  color:#3399FF;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:640px;
  top:905px;
  width:320px;
  height:236px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:236px;
}
#u227 {
  position:absolute;
  left:2px;
  top:110px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:640px;
  top:912px;
  width:150px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:847px;
  top:801px;
  width:27px;
  height:27px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u231 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:1243px;
  top:661px;
  width:320px;
  height:480px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u233 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:1243px;
  top:661px;
  width:321px;
  height:22px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u235 {
  position:absolute;
  left:2px;
  top:3px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1328px;
  top:728px;
  width:150px;
  height:33px;
  font-family:'Arial Black Black', 'Arial Black';
  font-size:28px;
  color:#BCBCBC;
  text-align:center;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:1298px;
  top:777px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:1298px;
  top:850px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:1298px;
  top:957px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u243 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:1299px;
  top:1067px;
  width:210px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#4BC2A8;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u245 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:1298px;
  top:913px;
  width:100px;
  height:16px;
  color:#666666;
}
#u247 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u246_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u248 {
  position:absolute;
  left:1393px;
  top:913px;
  width:100px;
  height:16px;
  color:#666666;
}
#u249 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u248_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u250 {
  position:absolute;
  left:1363px;
  top:998px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#4BC2A8;
  text-align:center;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:1389px;
  top:1035px;
  width:30px;
  height:15px;
  font-size:12px;
  color:#D7D7D7;
  text-align:center;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:1422px;
  top:1037px;
  width:120px;
  height:10px;
}
#u254_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u254_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u254_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u255 {
  position:absolute;
  left:1265px;
  top:1037px;
  width:120px;
  height:10px;
}
#u255_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u255_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u255_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u256 {
  position:absolute;
  left:1603px;
  top:913px;
  width:160px;
  height:16px;
  color:#3399FF;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:1493px;
  top:916px;
  width:100px;
  height:10px;
}
#u258_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u258_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u258_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u259 {
  position:absolute;
  left:1508px;
  top:808px;
  width:85px;
  height:10px;
}
#u259_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u259_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u259_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u260 {
  position:absolute;
  left:1297px;
  top:822px;
  width:210px;
  height:10px;
}
#u260_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u260_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u260_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u261 {
  position:absolute;
  left:1292px;
  top:820px;
  width:10px;
  height:7px;
}
#u261_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u261_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u261_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u262 {
  position:absolute;
  left:1503px;
  top:820px;
  width:10px;
  height:7px;
}
#u262_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u262_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u262_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u263 {
  position:absolute;
  left:1297px;
  top:889px;
  width:210px;
  height:10px;
}
#u263_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u263_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u263_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u264 {
  position:absolute;
  left:1292px;
  top:887px;
  width:10px;
  height:7px;
}
#u264_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u264_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u264_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u265 {
  position:absolute;
  left:1503px;
  top:887px;
  width:10px;
  height:7px;
}
#u265_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u265_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u265_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u266 {
  position:absolute;
  left:1294px;
  top:806px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:1483px;
  top:812px;
  width:15px;
  height:8px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u269 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:1603px;
  top:806px;
  width:164px;
  height:16px;
  color:#3399FF;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:1244px;
  top:905px;
  width:320px;
  height:236px;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:236px;
}
#u273 {
  position:absolute;
  left:2px;
  top:110px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274 {
  position:absolute;
  left:1244px;
  top:912px;
  width:150px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:1430px;
  top:873px;
  width:10px;
  height:20px;
}
#u276_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u276_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u276_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:20px;
}
#u277 {
  position:absolute;
  left:1324px;
  top:878px;
  width:10px;
  height:10px;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u278 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:1306px;
  top:878px;
  width:10px;
  height:10px;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u280 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:1342px;
  top:878px;
  width:10px;
  height:10px;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u282 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:1362px;
  top:878px;
  width:10px;
  height:10px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u284 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:1380px;
  top:878px;
  width:10px;
  height:10px;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u286 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:1398px;
  top:878px;
  width:10px;
  height:10px;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u288 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289 {
  position:absolute;
  left:1416px;
  top:878px;
  width:10px;
  height:10px;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u290 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291 {
  position:absolute;
  left:1478px;
  top:867px;
  width:27px;
  height:27px;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u292 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
