body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1526px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:39px;
  top:53px;
  width:67px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:39px;
  top:16px;
  width:65px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:39px;
  top:109px;
  width:10px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:59px;
  top:110px;
  width:49px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:58px;
  top:159px;
  width:512px;
  height:40px;
  line-height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:40px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:730px;
  top:60px;
  width:620px;
  height:170px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:170px;
}
#u12 {
  position:absolute;
  left:2px;
  top:77px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:746px;
  top:71px;
  width:590px;
  height:138px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:138px;
}
#u14 {
  position:absolute;
  left:2px;
  top:61px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:731px;
  top:280px;
  width:795px;
  height:120px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:120px;
}
#u16 {
  position:absolute;
  left:2px;
  top:52px;
  width:791px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:743px;
  top:290px;
  width:769px;
  height:101px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:101px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:730px;
  top:550px;
  width:460px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:732px;
  top:558px;
  width:449px;
  height:38px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:38px;
}
#u22 {
  position:absolute;
  left:2px;
  top:11px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:770px;
  top:630px;
  width:300px;
  height:47px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:640px;
  top:800px;
  width:670px;
  height:210px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:210px;
}
#u26 {
  position:absolute;
  left:2px;
  top:97px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:659px;
  top:820px;
  width:625px;
  height:178px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:178px;
}
#u28 {
  position:absolute;
  left:2px;
  top:81px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
